/node_modules*
.node_modules.stale/
/client/node_modules*
client/.node_modules.stale/
client/.node_modules.*/
/server/node_modules*
server/.node_modules.stale/

.env
.env.*
!.env.example
client/.env
client/.env.*
!client/.env.example
server/.env
server/.env.*
!server/.env.example

client/dist/
coverage/
*.log
.DS_Store
